@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome To the Game Collection Web Site!</h1>
    <p>Register to start documenting your collection now!</p>
</div>
